@import "./base";

.adspace-card:hover {
  background-color: $gray-100;
}

// Given third image is larger than other so I created custom class for alignment button
.py-custom-img {
  padding-top: 1.9rem !important;
  padding-bottom: 1.9rem !important;
}

.filter-panel {

  .filter-panel_fiter-block {
    background: #6f42c1;
    border-color: #6f42c1;
    border-radius: 20px;
    text-align: center;

    .filter-block__text {
      color: white;
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .py-custom-img {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }

  .filter-panel {
    .filter-panel_fiter-block {
      img {
        width: 70px;
      }
      .filter-block__text {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
}
